<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>P2P chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>
 
<body>
    <div id="formal">
        <form id="signin" name="signin" method="post">
            <h2>P2P chat&nbsp;<small>by Nikita Mikhailovskiy</small></h2>
            <hr>
            <label for="username">Username</label>
            <br>
            <input class="text" name="username" type="text" />
            <br>
            <label for="password">Password</label>
            <br>
            <input name="password" type="password" />
            <hr>
            <input class="btn" type="submit" value="Sign In" />
            <input class="btn" type="button" onclick="window.location.replace('/signup');" value="Sign Up" />
        </form>
    </div>
    <div id="ranImage"></div>
 
</body>
 
</html>